<h1>Listing Redirects</h1>
<ul class="choices">
  <li><%= link_to "New", new_noodall_admin_redirect_path, class: "button" %></li>
</ul>

<%= will_paginate(@redirects, :previous_label => 'Previous', :next_label => 'Next') %>
<div id="content-table">
<table class="content">
  <thead>
    <tr>
      <th>Type</th>
      <%= sortable_table_header :name => "From", :sort => "from" %>
      <%= sortable_table_header :name => "To", :sort => "to" %>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<% for redirect in @redirects -%>
    <tr class='redirect'>
      <td><%= redirect.rule_type %></td>
      <td><%= link_to redirect.from, edit_noodall_admin_redirect_path(redirect), :class => 'edit', :title => 'Edit this redirect' %></td>
      <td><%= redirect.to %></td>
      <td><%= link_to 'Delete', noodall_admin_redirect_path(redirect), :confirm => 'Are you sure?', :method => :delete, :class => 'delete', :title => 'Delete this redirect' %></td>
    </tr>
<% end %>
  </tbody>
  <tfoot>
      <th>Type</th>
      <%= sortable_table_header :name => "From", :sort => "from" %>
      <%= sortable_table_header :name => "To", :sort => "to" %>
      <th>Delete</th>
  </tfoot>
</table>

<%= will_paginate(@redirects, :previous_label => 'Previous', :next_label => 'Next') %>
